@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: 20 18% 7%;
    --background: 0 20% 99%;
    --primary: 25 18% 52%;
    --secondary: 127 19% 73%;
    --accent: 159 18% 64%;
  }
  .dark {
    --text: 20 17% 93%;
    --background: 0 20% 1%;
    --primary: 26 18% 48%;
    --secondary: 127 19% 27%;
    --accent: 160 18% 36%;
  }

  body {
    @apply font-body;
  }
  h1, h2, h3, h4, h5 {
    @apply font-heading;
  }
}