@import url('https://fonts.googleapis.com/css?family=Noto%20Znamenny%20Musical%20Notation:700|Noto%20Znamenny%20Musical%20Notation:400');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root  {
    --background: 360 16% 95%;
    --foreground: 360 5% 6%;
    --card: 360 16% 90%;
    --card-foreground: 360 5% 10%;
    --popover: 360 16% 95%;
    --popover-foreground: 360 95% 6%;
    --primary: 360 77% 44%;
    --primary-foreground: 0 0% 100%;
    --secondary: 360 16% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 322 16% 85%;
    --muted-foreground: 360 5% 35%;
    --accent: 322 16% 80%;
    --accent-foreground: 360 5% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 360 5% 90%;
    --border: 360 20% 50%;
    --input: 360 20% 18%;
    --ring: 360 77% 44%;
    --radius: 0.75rem;
  }
  .dark  {
    --background: 360 16% 6%;
    --foreground: 360 5% 90%;
    --card: 360 16% 6%;
    --card-foreground: 360 5% 90%;
    --popover: 360 16% 5%;
    --popover-foreground: 360 5% 90%;
    --primary: 360 77% 44%;
    --primary-foreground: 0 0% 100%;
    --secondary: 360 16% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 322 16% 15%;
    --muted-foreground: 360 5% 60%;
    --accent: 322 16% 15%;
    --accent-foreground: 360 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 360 5% 90%;
    --border: 360 20% 18%;
    --input: 360 20% 18%;
    --ring: 360 77% 44%;
    --radius: 0.75rem;
  }
  body {
    @apply font-body;
  }
  h1, h2, h3, h4, h5 {
    @apply font-heading;
  }

  ::-webkit-scrollbar {
    @apply w-2;
    @apply h-1;
  }
  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-border;
    @apply dark:bg-border;
    @apply rounded-xl;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-muted-foreground;
    @apply dark:bg-ring;
  }
}

.draggable {
  -webkit-app-region: drag;
}
.undraggable {
  -webkit-app-region: no-drag !important;
}
